*{margin: 0;
padding: 0;}

.container{
    text-align: center;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    /* border: 3px solid chartreuse; */
    border-radius: 3px solid chartreuse;
}
button{
    font-size: 35px;
    background-color: chartreuse;
    width: 103px;
    height: 58px;
    border-radius: 12px;
}
.calculater{
    display: inline-block;
    border-radius: 53px;
    background-color: red;
}